/**********************************************/
/* Default Bluecurve color scheme */
/***********************************************/

/**********************************************/
/* color definitions: hardcoded GTK names */
/**********************************************/

@define-color theme_fg_color #000000;
@define-color theme_text_color #000000;
@define-color theme_bg_color #e6e6e6;
@define-color theme_base_color #ffffff;
@define-color theme_selected_bg_color #4464ac;
@define-color theme_unfocused_selected_bg_color #5e7ab7;
@define-color theme_selected_fg_color #ffffff;
@define-color insensitive_bg_color #eeeeee;
@define-color insensitive_fg_color #757575;
@define-color insensitive_base_color #f0f0f0;
@define-color borders #a1a1a1;
@define-color warning_color #f57900;
@define-color error_color #cc0000;
@define-color success_color #73d216;

/**********************************************/
/* color definitions: menuitem colors */
/**********************************************/

@define-color menuitem_top_color #445E9A;
@define-color menuitem_bottom_color #5376C4;
@define-color menuitem_light_color #98b2ed;
@define-color menuitem_dark_color #4468b8;
@define-color menuitem_border_color #3b4c71;

/**********************************************/
/* Tooltip colors */
/**********************************************/

@define-color theme_tooltip_bg_color #ffffbf;
@define-color theme_tooltip_fg_color #000000;
@define-color theme_tooltip_border_color #000000;

/**********************************************/
/* color definitions: other colors */
/**********************************************/

@define-color light_border #ffffff;
@define-color darker_color #cccccc;
@define-color prelight_color #f5f5f5;
@define-color separator_darker_color #CECECE;
@define-color darker_border_color #5a5a5a;
@define-color trough_border_color #999999;
@define-color trough_bg_color #c4c4c4;
@define-color entry_shadow_color #dedede;
@define-color check_button_border #5c5c5c;
@define-color check_active_border #b4b4b4;
@define-color link_color #0000ee;
@define-color link_visited_color #551a8b;

@import url("gtk-style.css");
@import url("mate.css");


